<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <p><%= t('hello') %></p>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- Fixed navbar -->
  <nav class='navbar navbar-inverse navbar-fixed-top'>
    <div class='container'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <%= link_to 'My Blog', root_path, class: 'navbar-brand' %>
      </div>
      <div id='navbar' class='collapse navbar-collapse'>
        <ul class='nav navbar-nav'>
          <li><%= link_to 'Shop', shops_path %></li>
          <li><%= link_to 'Category', categories_path %></li>
          <li><%= link_to 'Diary', diaries_path %></li>
          <li><%= link_to 'Articly', articles_path %></li>
          <li><%= link_to 'Notification', notification2s_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>


  </nav>

  <div class="sidebar">
    <div class="sidebar-wrapper">
      <div class="sidebar-link-area">
        <!-- サイドバーメニュー -->
        <p><%= link_to 'Shop', shops_path %></p>
        <p><%= link_to 'Category', categories_path %></p>
        <p><%= link_to 'Diary', diaries_path %></p>
        <p><%= link_to 'Articly', articles_path %></p>
        <p><%= link_to 'Notification', notification2s_path %></p>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.name %></strong>.
    <%= link_to "Settings", edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>

  <div class='container'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>

  <style>
    .side {
      position: absolute;
      width: 146px;
      height: 83px;
      left: 0px;
      top: 0px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #000000;
    }
    .sidebar {
      background-color: #191970;
      height: 100%; /* サイドバーの高さ */
      width: 200px; /* サイドバーのwidthを指定 */
      max-width: 200px; /* widthの最大値 */
      opacity: 0.9.5; /* 透過する 0に近くほど透過する */
      position: fixed; /* 左上に要素を固定する(スクロールしても位置は固定される) */
      overflow-x: hidden; /* 横軸ではみ出た要素を非表示にする */
      box-sizing: border-box; /* paddingとborderを、widthとheightに含める */
      padding-left: 40px; /* サイドバー内のリンクの位置を右にずらす */
    }

    .sidebar-link-area {
      padding-top: 20px; /* サイドバーリンクの上部に空白を作る */
    }

    .sidebar-link {
      color: #ffffff; /* リンクの文字色を白に */
    }

    .sidebar-link:hover {
      color: #ffffff /* マウスがリンクに乗った時も文字色を白に */
    }

    .container {
      /* display: flex; 要素を横並びにする */
      /*flex-direction: column; !* 要素の並び順の主軸を指定 上 => 下 *!*/
      /*min-height: 100vh; !* 要素の高さの最小値を指定 vhはviewport(表示領域) heightの略 *!*/

      /* サイドバーのwidth分だけ範囲を削除 */
      width: calc(100% - 200px);

      /* サイドバーで隠れるので右に寄せる */
      margin: 0 0 0 202px;
    }

  </style>
</html>
