<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :admin_comment %>
    <%= form.text_field :admin_comment %>
  </div>

  <div class="field">
    <%= form.label :area_important %>
    <%= form.text_field :area_important %>
  </div>

  <div class="field">
    <%= form.label :nav_id %>
    <%= form.number_field :nav_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
